# Settings file for simply-newznab

#--------------
# Usenet server
#--------------
NNTP_USERNAME=
NNTP_PASSWORD=
NNTP_SERVER=
NNTP_PORT=
NNTP_SSLENABLED=false

#------------
# Database - don't change
#------------
DB_SYSTEM=mysql
DB_HOST=database
DB_PORT=3306
DB_SOCKET=""
DB_USER=newznab
DB_PASSWORD=newznab
DB_NAME=newznab

#------------
# IRC Scaper
#------------
IRC_USERNAME=
IRC_SERVER=irc.synirc.net
IRC_PORT=6667
IRC_TLS=false
# Change only if you're using znc
IRC_PASSWORD=""

#-----------------
# newznab Admin User
#-----------------
NZEDB_ADMIN_USERNAME=newznab
NZEDB_ADMIN_PASSWORD=newznab
NZEDB_ADMIN_EMAIL=newznab@localhost.com

#----------------
# Socks Proxy
#----------------
# The proxy is only used for post-processing scripts
# Valid types: socks4 socks4a socks5
SOCKS_TYPE=
SOCKS_HOST=
SOCKS_PORT=
